<div class="animal-do-dia">
    <h3>Animal do Dia</h3>
    {% if animal %}
        <div class="animal-card">
            <h4>{{ animal.nome_cientifico }}</h4>
            {% if animal.nome_popular %}<p><strong>Nome:</strong> {{ animal.nome_popular }}</p>{% endif %}
            
            <p><strong>Classe:</strong> {{ animal.classe or "N/I" }} | <strong>Família:</strong> {{ animal.familia or "N/I" }}</p>

            <div class="img-container"
                 hx-get="/api/animal/{{ animal.id }}/img"
                 hx-target="this"
                 hx-push-url="false"
                 hx-trigger="load">
            </div>
        </div>
    {% else %}
        <p>Nenhum animal disponível ainda :(</p>
    {% endif %}
</div>

<style>
    .animal-do-dia {
        padding: 0;
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: flex-start;
    }

    .animal-do-dia h3, .animal-card h4, .animal-card p{
        margin: 5px 0;
        font-family: var(--font-family1);
    }

    .animal-card {
        background: var(--cor5);
        border-radius: 12px; 
        padding: 20px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.1);
        width: 100%; 
        max-width: 600px;
        text-align: center;
    }

    .animal-card h4 {
        font-style: italic; 
        color: var(--cor3);
    }

    .img-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #img-animal {
        width: 100%;
        max-height: 35vh; 
        object-fit: contain; 
        border-radius: 8px;
        margin: 10px 0;
        display: block;
    }

</style>